{% extends "layout.twig" %}
{% block content %}
    <div id="main" class="container">
        <div class="row">
            <div class="col-md-9">
                <h3>Projetos</h4>
            </div>
            <div class="col-md-3">
                <a href="project-new.html" class="btn btn-primary" title="Cadastre um novo projeto">Novo Projeto</a>
            </div>
        </div>

        <div class="row cards">
            <div class="col-md-4">
                <a href="#" class="thumbnail" title="Visualizar projetos e orçamentos">
                    <span class="caption">
                        <h4>SocialBase</h4>
                        <p>
                            SocialBase<br />
                            iOS, Android, Smartphone, Tablet
                        </p>
                    </span>
                </a>
                <a href="#" title="Editar cliente" class="edit"><i class="glyphicon glyphicon-pencil"></i>editar</a>
            </div>
            <div class="col-md-4">
                <a href="#" class="thumbnail" title="Visualizar projetos e orçamentos">
                    <span class="caption">
                        <h4>Barking</h4>
                        <p>
                            Barking<br />
                            iOS, Android, Smartphone, Web
                        </p>
                    </span>
                </a>
                <a href="#" title="Editar cliente" class="edit"><i class="glyphicon glyphicon-pencil"></i>editar</a>
            </div>
            <div class="col-md-4">
                <a href="#" class="thumbnail" title="Visualizar projetos e orçamentos">
                    <span class="caption">
                        <h4>ROI</h4>
                        <p>
                            WEG<br />
                            OS, Android, Smartphone, Tablet, Web
                        </p>
                    </span>
                </a>
                <a href="#" title="Editar cliente" class="edit"><i class="glyphicon glyphicon-pencil"></i>editar</a>
            </div>
            <div class="col-md-4">
                <a href="#" class="thumbnail" title="Visualizar projetos e orçamentos">
                    <span class="caption">
                        <h4>MinhaUno</h4>
                        <p>
                            Unochapecó<br />
                            Web
                        </p>
                    </span>
                </a>
                <a href="#" title="Editar cliente" class="edit"><i class="glyphicon glyphicon-pencil"></i>editar</a>
            </div>
            <div class="col-md-4">
                <a href="#" class="thumbnail" title="Visualizar projetos e orçamentos">
                    <span class="caption">
                        <h4>RPS Fácil</h4>
                        <p>
                            EXS<br />
                            iOS, Smartphone
                        </p>
                    </span>
                </a>
                <a href="#" title="Editar cliente" class="edit"><i class="glyphicon glyphicon-pencil"></i>editar</a>
            </div>
            <div class="col-md-4">
                <a href="#" class="thumbnail" title="Visualizar projetos e orçamentos">
                    <span class="caption">
                        <h4>Meu Sorriso</h4>
                        <p>
                            Evodonto<br />
                            Web, iOS, Android
                        </p>
                    </span>
                </a>
                <a href="#" title="Editar cliente" class="edit"><i class="glyphicon glyphicon-pencil"></i>editar</a>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <ul class="pagination btn-primary">
                    <li class="active"><a href="#">&lt;</a></li>
                    <li><a href="#">1</a></li>
                    <li class="active"><a href="#">2</a></li>
                    <li><a href="#">3</a></li>
                    <li><a href="#">4</a></li>
                    <li class="active"><a href="#">&gt;</a></li>
                </ul>
            </div>
        </div>
    </div>
{% endblock %}