{% extends "layout.twig" %}
{% block content %}
    <div id="main" class="container">
        <div class="row">
            <div class="col-md-9">
                <h3>Clientes</h4>
            </div>
            <div class="col-md-3">
                <a href="/client/create" class="btn btn-primary" title="Cadastre um novo cliente">Novo Cliente</a>
            </div>
        </div>

        <div class="row cards">
            <div class="col-md-4">
                <a href="/client/detail/1" class="thumbnail" title="Visualizar projetos e orçamentos">
                    <span class="caption">
                        <span class="img-rounded"><span></span><img src="http://placehold.it/80x80" alt="" width="80" height="80" /></span>
                        <h4>SocialBase</h4>
                        <p>
                            2 Orçamentos<br />
                            1 Projeto
                        </p>
                    </span>
                </a>
                <a href="client-new.html" title="Editar cliente" class="edit"><i class="glyphicon glyphicon-pencil"></i>editar</a>
            </div>
            <div class="col-md-4">
                <a href="/client/detail/1" class="thumbnail" title="Visualizar projetos e orçamentos">
                    <span class="caption">
                        <span class="img-rounded"><span></span><img src="http://placehold.it/80x80" alt="" width="80" height="80" /></span>
                        <h4>Barking</h4>
                        <p>
                            2 Orçamentos<br />
                            1 Projeto
                        </p>
                    </span>
                </a>
                <a href="client-new.html" title="Editar cliente" class="edit"><i class="glyphicon glyphicon-pencil"></i>editar</a>
            </div>
            <div class="col-md-4">
                <a href="/client/detail/1" class="thumbnail" title="Visualizar projetos e orçamentos">
                    <span class="caption">
                        <span class="img-rounded"><span></span><img src="http://placehold.it/80x80" alt="" width="80" height="80" /></span>
                        <h4>Softplan</h4>
                        <p>
                            2 Orçamentos<br />
                            1 Projeto
                        </p>
                    </span>
                </a>
                <a href="client-new.html" title="Editar cliente" class="edit"><i class="glyphicon glyphicon-pencil"></i>editar</a>
            </div>
            <div class="col-md-4">
                <a href="/client/detail/1" class="thumbnail" title="Visualizar projetos e orçamentos">
                    <span class="caption">
                        <span class="img-rounded"><span></span><img src="http://placehold.it/80x80" alt="" width="80" height="80" /></span>
                        <h4>WEG</h4>
                        <p>
                            2 Orçamentos<br />
                            1 Projeto
                        </p>
                    </span>
                </a>
                <a href="client-new.html" title="Editar cliente" class="edit"><i class="glyphicon glyphicon-pencil"></i>editar</a>
            </div>
            <div class="col-md-4">
                <a href="/client/detail/1" class="thumbnail" title="Visualizar projetos e orçamentos">
                    <span class="caption">
                        <span class="img-rounded"><span></span><img src="http://placehold.it/80x80" alt="" width="80" height="80" /></span>
                        <h4>EXS</h4>
                        <p>
                            2 Orçamentos<br />
                            1 Projeto
                        </p>
                    </span>
                </a>
                <a href="client-new.html" title="Editar cliente" class="edit"><i class="glyphicon glyphicon-pencil"></i>editar</a>
            </div>
            <div class="col-md-4">
                <a href="/client/detail/1" class="thumbnail" title="Visualizar projetos e orçamentos">
                    <span class="caption">
                        <span class="img-rounded"><span></span><img src="http://placehold.it/80x80" alt="" width="80" height="80" /></span>
                        <h4>SysSquad</h4>
                        <p>
                            2 Orçamentos<br />
                            1 Projeto
                        </p>
                    </span>
                </a>
                <a href="client-new.html" title="Editar cliente" class="edit"><i class="glyphicon glyphicon-pencil"></i>editar</a>
            </div>
            <div class="col-md-4">
                <a href="/client/detail/1" class="thumbnail" title="Visualizar projetos e orçamentos">
                    <span class="caption">
                        <span class="img-rounded"><span></span><img src="http://placehold.it/80x80" alt="" width="80" height="80" /></span>
                        <h4>Unocapecó</h4>
                        <p>
                            2 Orçamentos<br />
                            1 Projeto
                        </p>
                    </span>
                </a>
                <a href="client-new.html" title="Editar cliente" class="edit"><i class="glyphicon glyphicon-pencil"></i>editar</a>
            </div>
            <div class="col-md-4">
                <a href="/client/detail/1" class="thumbnail" title="Visualizar projetos e orçamentos">
                    <span class="caption">
                        <span class="img-rounded"><span></span><img src="http://placehold.it/80x80" alt="" width="80" height="80" /></span>
                        <h4>Bet9</h4>
                        <p>
                            2 Orçamentos<br />
                            1 Projeto
                        </p>
                    </span>
                </a>
                <a href="client-new.html" title="Editar cliente" class="edit"><i class="glyphicon glyphicon-pencil"></i>editar</a>
            </div>
            <div class="col-md-4">
                <a href="/client/detail/1" class="thumbnail" title="Visualizar projetos e orçamentos">
                    <span class="caption">
                        <span class="img-rounded"><span></span><img src="http://placehold.it/80x80" alt="" width="80" height="80" /></span>
                        <h4>Oxford</h4>
                        <p>
                            2 Orçamentos<br />
                            1 Projeto
                        </p>
                    </span>
                </a>
                <a href="client-new.html" title="Editar cliente" class="edit"><i class="glyphicon glyphicon-pencil"></i>editar</a>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <ul class="pagination btn-primary">
                    <li class="active"><a href="#">&lt;</a></li>
                    <li><a href="#">1</a></li>
                    <li class="active"><a href="#">2</a></li>
                    <li><a href="#">3</a></li>
                    <li><a href="#">4</a></li>
                    <li class="active"><a href="#">&gt;</a></li>
                </ul>
            </div>
        </div>
    </div>
{% endblock %}