{% extends "layout_not_logged.twig" %}

{% block content %}
<!DOCTYPE html>
<html>
	<head>
	    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	    <title>An Error Occurred: {{ message }}</title>
	</head>
	<body>
	    <h1>{{ code }}</h1>
	    <h2>{{ message }}</h2>
	</body>
</html>
{% endblock %}