<html>
    <head>Title</head>
    <script src="http://code.jquery.com/jquery-1.8.1.min.js" type="text/javascript"></script>
    <body>
	{% block content %}
	<h1> Welcome to Silex-Sample </h1>
	{% endblock %}
    </body>
</html>