<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
    <head>
        {% include "header.twig" %}
    </head>
    <body>
        <!--[if lt IE 7]>
        <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->
        <header>
            <nav class="navbar navbar-custom" role="navigation">
                <span class="bg"></span>
                <div class="container">
                    <div class="row">
                        <div class="col-md-5 clearfix">
                            <div class="navbar-header clearfix">
                                <span>
                                    <img src="/public/img/logo-coderockr.png" width="100" height="100" />
                                    <h1>
                                        Coderockr
                                    </h1>
                                   
                                </span>
                            <div class="clearfix"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </nav>
        </header>
        
        {% block content %}{% endblock %}
        <footer class="margin20">
            <div class="container">
                <div>
                    <div class="row">
                        <div class="col-md-6">
                            <span>Sistema de Orçamentos Coderockr</span>
                        </div>
                        <div class="col-md-6">
                            <a href="mailto:suporte@coderockr.com?subject=Sistema de Orçamento" title="Dúvidas? Sugestão? Precisa de Ajuda?">suporte@coderockr.com</a>
                        </div>
                    </div>
                </div>
            </div>
        </footer>
        {% include "scripts.twig" %}
    </body>
</html>
