header, header nav .bg {
	background: #2B363C;
	height: 80px;
}

header .navbar-header {
	margin-top: 10px;
}

header h1 {
	font-size: 2em;
	margin: 0px 0px;
	color:#3bafda;
}

header span {
	display: block;
	padding-top: 16px;
}

header span img {
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	display: block;
	float: left;
	margin-right: 20px;
	margin-top: -16px;
	border: 1px solid #2B363C;
}

header span h1 {
	display: block;
	float: left;
	width: -webkit-calc(100% - 120px);
	width: -moz-calc(100% - 120px);
	width: calc(100% - 120px);
}

header span small {
	float: left;
	font-size: 0.7	em;
	margin-top: 3px;
	opacity: 0;
}

header span a small {
	color: #fff;
	margin: 0px 5px;
}

header .navbar-header:hover small {
	opacity: 1;
}

header nav .bg {
	display: block;
	position: absolute;
	width: 100%;
}

.navbar-custom {
	background: transparent;
}

.navbar-nav > li > a {
	margin: 15px 6px 0;
	padding-bottom: 30px;
	-webkit-border-top-left-radius: 3px;
	-webkit-border-top-right-radius: 3px;
	-moz-border-radius-topleft: 3px;
	-moz-border-radius-topright: 3px;
	border-top-left-radius: 3px;
	border-top-right-radius: 3px;
}
.navbar-nav > li > a.current {
	color: #FFE944;
	padding-bottom: 27px;
}
.navbar-nav > li > a:focus, .navbar-nav > li > a:hover {
	background: #FFF;
}
h3 {
	margin-top: 0;
}
#main {
	margin-top: 50px;
}
#main > .row:first-child > div:last-child {
	text-align:right;
}

/*cards list*/
.jumbotron h4 {
	margin-top: 0;
}
.jumbotron .jumbotron-contents {
	text-align: left;
}
.cards .col-md-4 a.thumbnail:hover {
	background: rgba(59,175,218, 0.1);
}
.cards .thumbnail .img-rounded {
	margin: 10px 20px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	display: block;
	float: left;
	overflow: hidden;
	position: relative;
	width: 80px;
	height: 80px;
}
.cards .thumbnail .img-rounded > span {
	border: 1px solid rgba(0,0,0,0.3);
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	height: 100%;
	left: 0;
	position: absolute;
	top: 0;
	width: 100%;
	z-index: 10;
}
.cards .col-md-4 .edit {
	bottom: 44px;
	right: 34px;
	font-size: 0.85em;
	opacity: 0;
	position: absolute;
}
.cards .col-md-4:hover .edit {
	opacity: 1;
}
.cards .col-md-4 .edit i {
	margin-right: 5px;
}

.projects > .thumbnail > .caption > h4 > .edit {
	font-size: 0.8em;
	font-weight: 400;
	margin-left: 10px;
	opacity: 0;
}


.quotes col-md-4:hover > .edit {
	opacity: 1;
}

.projects > .thumbnail > .caption > p {
	margin-bottom: 20px;
}

.resources h5 .glyphicon {
	float: right;
}
.resources h5 .glyphicon-minus {
	display: none;
}
.resources h5.add .glyphicon-minus {
	display: block;
}
.resources h5.add .glyphicon-plus {
	display: none;
}
.resources .thumbnail {
	position: relative;
}
.resources .thumbnail .glyphicon-remove {
	opacity: 0;
	position: absolute;
	right: 17px;
	top: 17px;
}
.resources .thumbnail:hover .glyphicon-remove {
	opacity: 1;
}
.resources div.thumbnail {
	display: none;
    -webkit-transition: none;
    -moz-transition: none;
    -ms-transition: none;
    -o-transition: none;
    transition: none;
}
.resources .thumbnail form .caption > div {
	margin-bottom: 18px;
}
.resources .thumbnail form .caption > div:last-child {
	margin-bottom: 0;
}
.resources .thumbnail form .caption > div label {
	margin-bottom: 5px;
}
/*pagination blue (primary)*/
.pagination {
	margin-bottom: 30px;
}
.pagination.btn-primary .active a {
	cursor: pointer;
	color:#FFF;
	background-color:#3BAFDA;
	border-color:#3BAFDA;
}

.pagination.btn-primary .active a:hover {
	color:#FFF;
	background-color:#4FC1E9;
	border-color:#4FC1E9;
}

/*form*/
.form .row > div[class|="col-md-6"] > div {
	margin-bottom: 23px;
}
.form .row > div[class|="col-md"] > div label[for] {
	margin-bottom: 13px;
}
.form .row > div[class|="col-md"] > div label.photo-upload {
	background: url("../img/photo.png") no-repeat 50% 50%;
	border: 1px solid #AAB2BD;
	cursor: pointer;
	display: block;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	height: 68px;
	margin-bottom: 0;
}
.form .row > div[class|="col-md"] > div label.photo-upload img {
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
}
.input-group.form-search input[type="file"] {
	cursor: pointer;
	height: 100%;
	opacity: 0;
	position: absolute;
	width: 100%;
	z-index: 100;
}
.form-search .btn {
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
}
.form .submit {
	border-top: 1px solid #AAB2BD;
	margin: 0 0 40px;
	padding-top: 20px;
}
.form .submit > div:last-child {
	text-align: right;
}
.form .submit > div {
	padding: 0;
}
footer .container > div {
	background: #B5B9BB;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	color: #FFF;
	font-size: 0.8em;
	padding: 12px 0;
}
footer .col-md-6 + .col-md-6 {
	text-align: right;
}
footer .col-md-6 a {
	color: #FFF;
	margin-right: 20px;
}
footer .col-md-6 span {
	margin-left: 20px;
}

/*transitions*/
a,
a *{
    -webkit-transition: all ease 0.3s;
    -moz-transition: all ease 0.3s;
    -ms-transition: all ease 0.3s;
    -o-transition: all ease 0.3s;
    transition: all ease 0.3s;
}

#new_project select { margin: 10px 0px 5px 0px;}

.margin10 { margin-top: 10px;}
.margin20 { margin-top: 20px;}
.margin30 { margin-top: 32px;}

#project_detail .col-md-6:first-child { border-right: 1px solid #ddd; }

.edit { cursor:pointer}

.thumbnail  {
	padding: 0px 10px;
}

a.small { color: #fff; font-size: 10px }