{% extends "layout.twig" %}
{% block content %}
    <div id="main" class="container">
        <div class="row">
            <div class="col-md-9">
                <h3>Usu치rios</h4>
            </div>
            <div class="col-md-3">
                <a href="/user/edit" class="btn btn-primary" title="Cadastre um novo usu치rio">Novo Cliente</a>
            </div>
        </div>
        <div class="row cards">
            {% for user in users %}
                <div class="col-md-4">
                    <a href="/user/detail/{{ user.id }}" class="thumbnail" title="Visualizar usu치rio">
                        <span class="caption">
                            <h4>{{ user.name }}</h4>
                            <p>{{ user.email }}</p>
                        </span>
                    </a>
                    <a href="/user/edit/{{ user.id }}" title="Editar usu치rio" class="edit"><i class="glyphicon glyphicon-pencil"></i>editar</a>
                </div>
            {% endfor %}
        </div>
        <div class="row">
            <div class="col-md-12">
                <ul class="pagination btn-primary">
                    <li class="active"><a href="#">&lt;</a></li>
                    <li><a href="#">1</a></li>
                    <li class="active"><a href="#">2</a></li>
                    <li><a href="#">3</a></li>
                    <li><a href="#">4</a></li>
                    <li class="active"><a href="#">&gt;</a></li>
                </ul>
            </div>
        </div>
    </div>
{% endblock %}