{% extends "layout.twig" %}
{% block content %}
    <div class="row">
        <div class="col-md-6">
            <div class="jumbotron">
                <div class="jumbotron-contents">
                    <h4>Orçamentos x Projetos Fechados</h4>
                    <img src="/public/img/chart.png" width="413" height="275" alt="" />
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="jumbotron">
                <div class="jumbotron-contents">
                    <h4>Pendências</h4>
                    <table class="table">
                        <thead>
                            <tr>
                                <th>Projeto</th>
                                <th>Pendência</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>SocialBase Mobile App</td>
                                <td>Enviar para Cliente</td>
                            </tr>
                            <tr>
                                <td>ROI WEG</td>
                                <td>Orçar</td>
                            </tr>
                            <tr>
                                <td>Barking Mobile App</td>
                                <td>Aguardando aprovação</td>
                            </tr>
                            <tr>
                                <td>MóvelSul Mobile</td>
                                <td>Aguardando definições</td>
                            </tr>
                            <tr>
                                <td>SocialBase Mobile App</td>
                                <td>Enviar para Cliente</td>
                            </tr>
                            <tr>
                                <td>ROI WEG</td>
                                <td>Orçar</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

