{% extends "layout.twig" %}
{% block content %}
    <div id="main" class="container">
        <div class="row">
            <div class="col-md-9">
                <h3>Dados da Empresa</h4>
            </div>
            <div class="col-md-3">
                <a href="/user" class="btn btn-primary" title="Cadastre um novo cliente">Usuários</a>
            </div>
        </div>
        <form class="form">
            <div class="row">
                <div class="col-md-6">
                    <div>
                        <label for="nome">Nome</label>
                        <p>{{ company and company.name ? company.name : "" }}</p>
                    </div>
                    <div>
                        <label for="responsable">Responsável</label>
                        <p>{{ company and company.responsable ? company.responsable : "" }}</p>
                    </div>
                </div>
                <div class="col-md-6">
                    <div>
                        <label for="telephone">Telefone</label>
                        <p>{{ company and company.telephone ? company.telephone : "" }}</p>
                    </div>
                    <div>
                        <label for="site">Site</label>
                        <p>{{ company and company.site ? company.site : "" }}</p>
                    </div>
                </div>
            </div>
        </form>
        
    </div>
{% endblock %}
    